# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

jws/.metadata/*
.gitignore
.classpath
.project
jws/jdbcdemo/.settings/*